[submodule "predstavitve/Anamarija-Mijatovic"]
	path = predstavitve/Anamarija-Mijatovic
	url = git@github.com:aniiiim/APPR-2015-16.git
[submodule "predstavitve/Anja-Leskovsek"]
	path = predstavitve/Anja-Leskovsek
	url = git@github.com:Anchiqua/APPR-2015-16.git
[submodule "predstavitve/Katarina-Kromar"]
	path = predstavitve/Katarina-Kromar
	url = git@github.com:katykro/APPR-2015-16.git
[submodule "predstavitve/Martin-Pezdir"]
	path = predstavitve/Martin-Pezdir
	url = git@github.com:PezdirM14/APPR-2015-16.git
[submodule "predstavitve/Vesna-Zupanc"]
	path = predstavitve/Vesna-Zupanc
	url = git@github.com:vesnazupanc/APPR-2015-16.git
[submodule "predstavitve/Lonja-Tjasa-Tavcar"]
	path = predstavitve/Lonja-Tjasa-Tavcar
	url = git@github.com:LonjaTT/APPR-2015-16.git
[submodule "predstavitve/Manca-Cor"]
	path = predstavitve/Manca-Cor
	url = git@bitbucket.org:rahlocutnacigra/appr-2015-16.git
[submodule "predstavitve/Jan-Perme"]
	path = predstavitve/Jan-Perme
	url = git@github.com:Jan-hexit/APPR-2015-16.git
[submodule "predstavitve/Valentina-Pucer"]
	path = predstavitve/Valentina-Pucer
	url = git@github.com:valentina2pucer/APPR-2015-16.git
[submodule "predstavitve/Sara-Korat"]
	path = predstavitve/Sara-Korat
	url = git@github.com:Charisa/APPR-2015-16.git
[submodule "predstavitve/Patrik-Gorse"]
	path = predstavitve/Patrik-Gorse
	url = git@github.com:aleksandrov2/APPR-2015-16.git
[submodule "predstavitve/Marina-Sirk"]
	path = predstavitve/Marina-Sirk
	url = git@github.com:marinasirk/APPR-2015-16.git
[submodule "predstavitve/Marvin-Herzog"]
	path = predstavitve/Marvin-Herzog
	url = git@github.com:MarvinHerzog/APPR-2015-16.git
[submodule "predstavitve/Jakov-Kavcic"]
	path = predstavitve/Jakov-Kavcic
	url = git@github.com:jakov-kavcic/APPR-2015-16.git
[submodule "predstavitve/Zan-Tavcar"]
	path = predstavitve/Zan-Tavcar
	url = git@github.com:zantavcar/APPR-2015-16.git
[submodule "predstavitve/Taja-Debeljak"]
	path = predstavitve/Taja-Debeljak
	url = git@github.com:tajadebeljak/APPR-2015-16.git
[submodule "predstavitve/Pia-Modrijan"]
	path = predstavitve/Pia-Modrijan
	url = git@github.com:PiaM123/APPR-2015-16.git
[submodule "predstavitve/Andraz-Pirnovar"]
	path = predstavitve/Andraz-Pirnovar
	url = git@github.com:PirnovarA/APPR-2015-16.git
[submodule "predstavitve/Kaja-Vezensek"]
	path = predstavitve/Kaja-Vezensek
	url = git@github.com:VezensekKaja/APPR-2015-16.git
[submodule "predstavitve/Nadja-Legan"]
	path = predstavitve/Nadja-Legan
	url = git@github.com:NadjaLegan/APPR-2015-16.git
[submodule "predstavitve/Uros-Krampelj"]
	path = predstavitve/Uros-Krampelj
	url = git@github.com:UrosKrampelj/APPR-2015-16.git
[submodule "predstavitve/Jakob-Jelencic"]
	path = predstavitve/Jakob-Jelencic
	url = git@github.com:masterlord99/APPR-2015-16.git
[submodule "predstavitve/Urska-Rozman"]
	path = predstavitve/Urska-Rozman
	url = git@github.com:rozmanU14/APPR-2015-16.git
[submodule "predstavitve/Veronika-Nabergoj"]
	path = predstavitve/Veronika-Nabergoj
	url = git@github.com:NabergojV/APPR-2015-16.git
[submodule "predstavitve/Zan-Sifrer"]
	path = predstavitve/Zan-Sifrer
	url = git@github.com:stifler9/ANPP-2015-16.git
[submodule "predstavitve/Ziga-Potrebujes"]
	path = predstavitve/Ziga-Potrebujes
	url = git@github.com:ZigaP/APPR-2015-16.git
[submodule "predstavitve/Laura-Stangelj"]
	path = predstavitve/Laura-Stangelj
	url = git@github.com:StangeljL12/APPR-2015-16.git
[submodule "predstavitve/Gal-Drnovsek"]
	path = predstavitve/Gal-Drnovsek
	url = git@github.com:GalDrnovsek/APPR-2015-16.git
[submodule "predstavitve/Mojca-Zilavec"]
	path = predstavitve/Mojca-Zilavec
	url = git@github.com:ZilavecM14/APPR-2015-16.git
[submodule "predstavitve-faza3/Anamarija-Mijatovic"]
	path = predstavitve-faza3/Anamarija-Mijatovic
	url = https://github.com/aniiiim/APPR-2015-16.git
[submodule "predstavitve-faza3/Andraz-Pirnovar"]
	path = predstavitve-faza3/Andraz-Pirnovar
	url = https://github.com/PirnovarA/APPR-2015-16.git
[submodule "predstavitve-faza3/Jakob-Jelencic"]
	path = predstavitve-faza3/Jakob-Jelencic
	url = https://github.com/masterlord99/APPR-2015-16.git
[submodule "predstavitve-faza3/Katarina-Kromar"]
	path = predstavitve-faza3/Katarina-Kromar
	url = https://github.com/katykro/APPR-2015-16.git
[submodule "predstavitve-faza3/Lonja-Tjasa-Tavcar"]
	path = predstavitve-faza3/Lonja-Tjasa-Tavcar
	url = https://github.com/LonjaTT/APPR-2015-16.git
[submodule "predstavitve-faza3/Manca-Cor"]
	path = predstavitve-faza3/Manca-Cor
	url = git@bitbucket.org:rahlocutnacigra/appr-2015-16.git
[submodule "predstavitve-faza3/Marina-Sirk"]
	path = predstavitve-faza3/Marina-Sirk
	url = https://github.com/marinasirk/APPR-2015-16.git
[submodule "predstavitve-faza3/Martin-Pezdir"]
	path = predstavitve-faza3/Martin-Pezdir
	url = https://github.com/PezdirM14/APPR-2015-16.git
[submodule "predstavitve-faza3/Marvin-Herzog"]
	path = predstavitve-faza3/Marvin-Herzog
	url = https://github.com/MarvinHerzog/APPR-2015-16.git
[submodule "predstavitve-faza3/Patrik-Gorse"]
	path = predstavitve-faza3/Patrik-Gorse
	url = https://github.com/aleksandrov2/APPR-2015-16.git
[submodule "predstavitve-faza3/Pia-Modrijan"]
	path = predstavitve-faza3/Pia-Modrijan
	url = https://github.com/PiaM123/APPR-2015-16.git
[submodule "predstavitve-faza3/Sara-Korat"]
	path = predstavitve-faza3/Sara-Korat
	url = https://github.com/Charisa/APPR-2015-16.git
[submodule "predstavitve-faza3/Taja-Debeljak"]
	path = predstavitve-faza3/Taja-Debeljak
	url = https://github.com/tajadebeljak/APPR-2015-16.git
[submodule "predstavitve-faza3/Urska-Rozman"]
	path = predstavitve-faza3/Urska-Rozman
	url = https://github.com/rozmanU14/APPR-2015-16.git
[submodule "predstavitve-faza3/Valentina-Pucer"]
	path = predstavitve-faza3/Valentina-Pucer
	url = https://github.com/valentina2pucer/APPR-2015-16.git
[submodule "predstavitve-faza3/Veronika-Nabergoj"]
	path = predstavitve-faza3/Veronika-Nabergoj
	url = https://github.com/NabergojV/APPR-2015-16.git
[submodule "predstavitve-faza3/Zan-Sifrer"]
	path = predstavitve-faza3/Zan-Sifrer
	url = https://github.com/stifler9/ANPP-2015-16.git
[submodule "predstavitve-faza3/Zan-Tavcar"]
	path = predstavitve-faza3/Zan-Tavcar
	url = https://github.com/zantavcar/APPR-2015-16.git
[submodule "predstavitve-faza3/Ziga-Potrebujes"]
	path = predstavitve-faza3/Ziga-Potrebujes
	url = https://github.com/ZigaP/APPR-2015-16.git
[submodule "predstavitve-faza3/Kaja-Vezensek"]
	path = predstavitve-faza3/Kaja-Vezensek
	url = https://github.com/VezensekKaja/APPR-2015-16.git
[submodule "predstavitve-faza3/Dejan-Gasparic"]
	path = predstavitve-faza3/Dejan-Gasparic
	url = https://github.com/gasparicdejan/APPR-2015-16.git
[submodule "predstavitve-faza3/Uros-Krampelj"]
	path = predstavitve-faza3/Uros-Krampelj
	url = https://github.com/UrosKrampelj/APPR-2015-16.git
[submodule "predstavitve-faza3/Mojca-Zilavec"]
	path = predstavitve-faza3/Mojca-Zilavec
	url = https://github.com/ZilavecM14/APPR-2015-16.git
[submodule "predstavitve-faza3/Jan-Perme"]
	path = predstavitve-faza3/Jan-Perme
	url = https://github.com/Jan-hexit/APPR-2015-16.git
[submodule "predstavitve-faza3/Anja-Leskovsek"]
	path = predstavitve-faza3/Anja-Leskovsek
	url = https://github.com/Anchiqua/APPR-2015-16.git
[submodule "2016-02-01_05/Urska-Rozman"]
	path = 2016-02-01_05/Urska-Rozman
	url = https://github.com/rozmanU14/APPR-2015-16.git
[submodule "2016-02-15_19/Jakob-Jelencic"]
	path = 2016-02-15_19/Jakob-Jelencic
	url = https://github.com/masterlord99/APPR-2015-16.git
[submodule "2016-02-22_26/Zan-Tavcar"]
	path = 2016-02-22_26/Zan-Tavcar
	url = https://github.com/zantavcar/APPR-2015-16.git
[submodule "2016-02-22_26/Marina-Sirk"]
	path = 2016-02-22_26/Marina-Sirk
	url = https://github.com/marinasirk/APPR-2015-16.git
[submodule "2016-02-22_26/Marvin-Herzog"]
	path = 2016-02-22_26/Marvin-Herzog
	url = https://github.com/MarvinHerzog/APPR-2015-16.git
[submodule "2016-02-29_03-04/Anja-Leskovsek"]
	path = 2016-02-29_03-04/Anja-Leskovsek
	url = https://github.com/Anchiqua/APPR-2015-16.git
[submodule "2016-02-29_03-04/Pia-Modrijan"]
	path = 2016-02-29_03-04/Pia-Modrijan
	url = https://github.com/PiaM123/APPR-2015-16.git
[submodule "2016-02-29_03-04/Katarina-Kromar"]
	path = 2016-02-29_03-04/Katarina-Kromar
	url = https://github.com/katykro/APPR-2015-16.git
[submodule "2016-02-29_03-04/Anamarija-Mijatovic"]
	path = 2016-02-29_03-04/Anamarija-Mijatovic
	url = https://github.com/aniiiim/APPR-2015-16.git
[submodule "2016-02-29_03-04/Gal-Drnovsek"]
	path = 2016-02-29_03-04/Gal-Drnovsek
	url = https://github.com/GalDrnovsek/APPR-2015-16.git
[submodule "2016-02-29_03-04/Patrik-Gorse"]
	path = 2016-02-29_03-04/Patrik-Gorse
	url = https://github.com/aleksandrov2/APPR-2015-16.git
[submodule "2016-02-29_03-04/Sara-Korat"]
	path = 2016-02-29_03-04/Sara-Korat
	url = https://github.com/Charisa/APPR-2015-16.git
[submodule "2016-02-29_03-04/Andraz-Pirnovar"]
	path = 2016-02-29_03-04/Andraz-Pirnovar
	url = https://github.com/PirnovarA/APPR-2015-16.git
[submodule "2016-02-29_03-04/Veronika-Nabergoj"]
	path = 2016-02-29_03-04/Veronika-Nabergoj
	url = https://github.com/NabergojV/APPR-2015-16.git
[submodule "2016-03-14_18/Valentina-Pucer"]
	path = 2016-03-14_18/Valentina-Pucer
	url = https://github.com/valentina2pucer/APPR-2015-16.git
[submodule "2016-03-28_04-01/Kaja-Vezensek"]
	path = 2016-03-28_04-01/Kaja-Vezensek
	url = https://github.com/VezensekKaja/APPR-2015-16.git
[submodule "2016-03-28_04-01/Mojca-Zilavec"]
	path = 2016-03-28_04-01/Mojca-Zilavec
	url = https://github.com/ZilavecM14/APPR-2015-16.git
[submodule "2016-03-28_04-01/Vesna-Zupanc"]
	path = 2016-03-28_04-01/Vesna-Zupanc
	url = https://github.com/vesnazupanc/APPR-2015-16.git
[submodule "2016-03-28_04-01/Jan-Perme"]
	path = 2016-03-28_04-01/Jan-Perme
	url = https://github.com/Jan-hexit/APPR-2015-16.git
[submodule "2016-03-28_04-01/Taja-Debeljak"]
	path = 2016-03-28_04-01/Taja-Debeljak
	url = https://github.com/tajadebeljak/APPR-2015-16.git
[submodule "2016-09-05_09/Martin-Pezdir"]
	path = 2016-09-05_09/Martin-Pezdir
	url = https://github.com/PezdirM14/APPR-2015-16.git
[submodule "2016-09-05_09/Ziga-Potrebujes"]
	path = 2016-09-05_09/Ziga-Potrebujes
	url = https://github.com/ZigaP/APPR-2015-16.git
[submodule "2016-09-12_16/Laura-Stangelj"]
	path = 2016-09-12_16/Laura-Stangelj
	url = https://github.com/StangeljL12/APPR-2015-16.git
