[submodule "2017-06-07-sreda/Vida-Maver"]
	path = 2017-06-07-sreda/Vida-Maver
	url = https://github.com/vidamaver/APPR-2017.git
[submodule "2017-06-07-sreda/Jakov-Kavcic"]
	path = 2017-06-07-sreda/Jakov-Kavcic
	url = https://github.com/jakov-kavcic/APPR-2017.git
[submodule "2017-06-05-ponedeljek/Metod-Jazbec"]
	path = 2017-06-05-ponedeljek/Metod-Jazbec
	url = https://github.com/metodj/APPR.git
[submodule "2017-06-05-ponedeljek/Anze-Marinko"]
	path = 2017-06-05-ponedeljek/Anze-Marinko
	url = https://github.com/AccipitrisArti/APPR-2017.git
[submodule "2017-06-07-sreda/Leon-Horvat"]
	path = 2017-06-07-sreda/Leon-Horvat
	url = https://github.com/LeonHorvat/APPR-2017.git
[submodule "2017-06-05-ponedeljek/Nastja-Kosir"]
	path = 2017-06-05-ponedeljek/Nastja-Kosir
	url = https://github.com/nastja88/APPR-2017.git
[submodule "2017-06-05-ponedeljek/Primoz-Durcik"]
	path = 2017-06-05-ponedeljek/Primoz-Durcik
	url = https://github.com/pdurcik/APPR-2017.git
[submodule "2017-06-05-ponedeljek/Anamari-Ostarijas"]
	path = 2017-06-05-ponedeljek/Anamari-Ostarijas
	url = https://github.com/anamariostarijas/APPR-2017.git
[submodule "2017-06-05-ponedeljek/Natasa-Taskov"]
	path = 2017-06-05-ponedeljek/Natasa-Taskov
	url = https://github.com/natasataskov/APPR-2017.git
[submodule "2017-06-07-sreda/Tina-Razic"]
	path = 2017-06-07-sreda/Tina-Razic
	url = https://github.com/tinarazic/APPR-2017.git
[submodule "2017-06-05-ponedeljek/Luka-Vidic"]
	path = 2017-06-05-ponedeljek/Luka-Vidic
	url = git@bitbucket.org:VidicL13/appr-2017.git
[submodule "2017-06-07-sreda/Jan-Pristovnik"]
	path = 2017-06-07-sreda/Jan-Pristovnik
	url = https://github.com/janpristovnik/APPR-2017.git
[submodule "2017-06-07-sreda/Jan-Rems"]
	path = 2017-06-07-sreda/Jan-Rems
	url = https://github.com/janrems/APPR-2017.git
[submodule "2017-06-07-sreda/Jan-Lampic"]
	path = 2017-06-07-sreda/Jan-Lampic
	url = https://github.com/LampicJ15/APPR-2017.git
[submodule "2017-06-07-sreda/Jernej-Banevec"]
	path = 2017-06-07-sreda/Jernej-Banevec
	url = https://github.com/jernejbanevec/APPR-2017.git
[submodule "2017-06-07-sreda/Anja-Zavbi-Kunaver"]
	path = 2017-06-07-sreda/Anja-Zavbi-Kunaver
	url = https://github.com/ZavbiA/APPR-2017.git
[submodule "2017-06-07-sreda/Darja-Petric"]
	path = 2017-06-07-sreda/Darja-Petric
	url = https://github.com/darjapet/APPR-2017.git
